{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext"
          rel="stylesheet">
    <link rel="shortcut icon" href="https://atom.io/favicon.ico">
    <title>{% block title %}Monitoring{% endblock %} </title>
</head>
<body>

{% block navigation %}
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a class="header__logo" href="{% url 'specialists:index' %}">Monitoring</a>
                <nav class="nav">
                    <a class="nav__link" href="{% url 'specialists:index' %}">К списку</a>
                    <a class="nav__link" href="{% url 'specialists:show_criteria' %}">Изменить критерии</a>
                    <a class="nav__link" href="{% url 'specialists:spec_new' %}">Добавление сотрудника</a>
                    <a class="nav__link" href="{% url 'admin:index' %}">Управление</a>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}{% endblock %}

</body>
</html>