{% extends 'base.html' %}

{% block title %}{{ spec.getName }}{% endblock %}

{% block content %}

    <div class="intro">
        <div class="details">
            <h2>{{ spec.getName }}</h2>
            <h3>Дата рождения: {{ spec.birth }}</h3>
            <a class="est__btn" href="http://127.0.0.1:8000/specialists/estimate/{{ spec.id }}">Оценить специалиста</a>
            <a class="change__btn" href="http://127.0.0.1:8000/admin/specialists/specialist/{{ spec.id }}/change/">Изменить
                информацию</a>
        </div>
    </div>

{% endblock %}