{% extends 'base.html' %}

{% block title %}Список всех сотрудников{% endblock %}
{% block content %}

    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="list__head">Список специалистов</h2>
                {% if all_spec %}
                    {% for spec in all_spec %}
                        <a class="spec" href="{% url 'specialists:estimate' spec.id %}">{{ spec }}</a>
                    {% endfor %}
                {% else %}
                    <h2 class="noSpec"> Сотрудников не найдено </h2>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}